body{
    font-family: cursive;
}
.main{
    background-color: lightyellow;
    display: flex;
    gap: 50px;
}
.session{
 background-color: lightcoral;
 width: 50%;
 text-align: center;
 height: 300px;
}
.cookie{
    background-color: lightseagreen;
    width: 50%;
    text-align: center;
    height: 300px;
}
img{
    width: 20px;
    height: 20px;
}
form{
    text-align: center;
}